body {
    font-family: Arial, sans-serif;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    /* margin-bottom: 10px; */
  }
  #stimulus {
    font-size: 72px;
    margin-top: 50px;
    text-align: center;
  }
  #instructions {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    display: flex;
  }

  #nextInstruction {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    text-align: center;
    font-size: 40px;
  }

  #plusIcon {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-weight: 100;
  }

  #trial {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-weight: 100;
  }

  #instructions p {
    text-align: center;
  }
  #response {
    margin-top: 50px;
    text-align: center;
  }
  button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #3e8e41;
  }

  html, body {margin: 0; height: 100%; overflow: hidden}